@model LibraryProject.Models.CheckedOutBook
@{
    ViewData["Title"] = "CheckInOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CheckInOut</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <label asp-for="Book.ISBN">Enter ISBN</label>
            <input asp-for="Book.ISBN" class="form-control" />
            <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="MemberId">Enter Member ID</label>
            <input asp-for="MemberId" class="form-control" />
            <span asp-validation-for="MemberId" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-3"> 
                <button type="submit" class="btn btn-primary form-control" name="checkOut" value="CheckOut">Check Out</button>            
            </div>
            <div class="col-3 offset-3">               
                <button type="submit" class="btn btn-primary form-control" name="checkIn" value="CheckIn">Check In</button>
            </div>
        </div>
    </form>
</div>
