@model LibraryProject.Models.CheckedOutBook
@{
    ViewData["Title"] = "ConfirmCheckInOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ConfirmCheckInOut</h1>

<div class="container">
    <div class="row">
        Book Succesfully Checked In or Out
    </div>
</div>