
@{
    ViewData["Title"] = "ConfirmPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payment Processed</h1>
<div class="container">
    <div class="row">
        Member change: $ @TempData["change"]
    </div>
</div>

